name: test

on:
  pull_request_target:
    types: [labeled, synchronize]
permissions:
  contents: read
defaults:
  run:
    working-directory: ./tool
jobs:  
  test:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')
    env:
      BSKY_HANDLE: ${{ secrets.BSKY_HANDLE }}
      BSKY_APP_PWD: ${{ secrets.BSKY_APP_PWD }}
      BSKY_INSTANCE: ${{ secrets.BSKY_INSTANCE }}
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    - name: Fetch blocked accounts
      run: go run . -- blocks
    - name: Fetch muted accounts
      run: go run . -- mutes
    - name: Fetch following
      run: go run . -- following
    - name: Fetch followers
      run: go run . -- followers