name: Collect bsky data
on:
  schedule:
    - cron: "50 21 * * *"
defaults:
  run:
    working-directory: ./tool
jobs:
  update:
    runs-on: ubuntu-latest
    env:
      BSKY_HANDLE: ${{ secrets.BSKY_HANDLE }}
      BSKY_APP_PWD: ${{ secrets.BSKY_APP_PWD }}
      BSKY_INSTANCE: ${{ secrets.BSKY_INSTANCE }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Set up Go 1.21
      uses: actions/setup-go@v3
      with:
        go-version: 1.21
    - name: Fetch blocked accounts
      run: go run . -- blocks > ../blocked_accounts.txt
    - name: Fetch muted accounts
      run: go run . -- mutes > ../muted_accounts.txt
    - name: Fetch following
      run: go run . -- following > ../following.txt
    - name: Fetch followers
      run: go run . -- followers > ../followers.txt
    - name: Commit results
      run: |
        set -e
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"

        d="$(date --rfc-3339=s)"
        git add --all
        git commit --allow-empty -m "Periodic update: $d"
        git push origin main
